name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
        cache-dependency-path: vasp-language-server/package-lock.json

    - name: Install dependencies
      run: npm install
      working-directory: vasp-language-server

    - name: Lint
      run: npm run lint
      working-directory: vasp-language-server

    - name: Build
      run: npm run build
      working-directory: vasp-language-server

    - name: Test
      run: npm test
      working-directory: vasp-language-server
